---
import Layout from "../layout.astro";
---

<Layout title="Home Page">
	<div class="grid grid-cols-1 md:grid-cols-2 mt-10 h-[80vh]">
		<div class="flex flex-col justify-center items-start px-4 gap-3">
			<p class="text-gray-600 font-semibold uppercase">
				Qualidade e preço baixo!
			</p>
			<h1 class="text-7xl font-bold text-gray-900">Barbearia Top</h1>
			<div class="w-[100px] h-1 bg-red-600 rounded"></div>
			<p class="text-gray-600 font-light">
				Aqui na barbearia top você encontra os melhores serviços com
				qualidade e preço baixo!
			</p>
			<button
				class="mt-4 bg-gray-900 text-white px-6 py-2 rounded-lg hover:bg-gray-700 border-2 cursor-pointer transition-all duration-300 font-semibold"
			>
				Agende seu horário
			</button>
		</div>
		<div>
			<img src="/imagemInicio.png" class="w-full h-full" />
		</div>
	</div>

	<div class="mt-20 flex flex-col justify-center items-center gap-4">
		<div class="flex gap-2 justify-center w-full text-yellow-500">
			<span class="material-symbols-outlined"> star </span>
			<span class="material-symbols-outlined"> star </span>
			<span class="material-symbols-outlined"> star </span>
		</div>
		<h1 class="text-center text-3xl font-bold text-gray-900">
			Serviços Populares:
		</h1>
		<div class="h-1 w-[150px] bg-neutral-800 rounded"></div>
		<p class="text-">O melhor para os melhores!</p>
	</div>

	<div
		class="flex flex-col md:flex-row gap-6 items-center w-full justify-center mt-8 px-2"
	>
		<div
			class="bg-white flex flex-col shadow rounded-xl p-4 items-center w-full max-w-sm border border-gray-100 hover:shadow-lg transition-shadow duration-300"
		>
			<div class="w-full h-[380px] overflow-hidden rounded-lg">
				<img
					src="/servico1.jpg"
					class="w-full h-full object-cover rounded-lg hover:scale-105 transition-transform duration-500"
				/>
			</div>
			<h1 class="text-2xl font-semibold mt-4 tracking-wide text-gray-800">
				Barba e Cabelo
			</h1>
			<p>O corte padrão do homem moderno</p>
		</div>

		<div
			class="bg-white flex flex-col shadow rounded-xl p-4 items-center w-full max-w-sm border border-gray-100 hover:shadow-lg transition-shadow duration-300"
		>
			<div class="w-full h-[380px] overflow-hidden rounded-lg">
				<img
					src="/servico2.jpg"
					class="w-full h-full object-cover rounded-lg hover:scale-105 transition-transform duration-500"
				/>
			</div>
			<h1 class="text-2xl font-semibold mt-4 tracking-wide text-gray-800">
				Degradê
			</h1>
			<p>A moda que veio para ficar!</p>
		</div>

		<div
			class="bg-white flex flex-col shadow rounded-xl p-4 items-center w-full max-w-sm border border-gray-100 hover:shadow-lg transition-shadow duration-300"
		>
			<div class="w-full h-[380px] overflow-hidden rounded-lg">
				<img
					src="/servico3.jpg"
					class="w-full h-full object-cover rounded-lg hover:scale-105 transition-transform duration-500"
				/>
			</div>
			<h1 class="text-2xl font-semibold mt-4 tracking-wide text-gray-800">
				Social
			</h1>
			<p>O corte que sempre funciona!</p>
		</div>
	</div>

	<div class="grid grid-cols-1 md:grid-cols-2 mt-30">
		<div class="relative flex pr-4 min-h-[350px]">
			<img src="/profile.jpg" class="w-[50%] h-[330px] object-cover absolute top-10 right-0 rounded-xl shadow border-3 border-gray-300" />
			<img src="/local.jpg" class="w-[50%] h-[330px] object-cover absolute bottom-10 rounded-xl shadow border-3 border-gray-300" />
		</div>
		<div class="flex flex-col gap-3 pl-8">
			<p class="uppercase text-red-600 font-semibold text-sm">
				Um pocuo mais sobre a Barbearia Top
			</p>
			<h1 class="text-5xl font-bold">Sobre</h1>
			<div class="w-[120px] h-1 bg-red-600 rounded"></div>
			<p>
				A Barbearia Top é dedicada a oferecer os melhores serviços de
				barbearia com qualidade e preço acessível.
			</p>
			<div class="bg-white p-4 flex flex-col"></div>
		</div>
	</div>
</Layout>
