<footer class="p-4 flex flex-col justify-center items-center mt-20">
    <h1 class="text-lg font-bold text-gray-700">Barbearia Top</h1>
    <div class="flex gap-4">
        <a href="/" class="hover:underline">Sobre</a>
        <a href="/services" class="hover:underline">Serviços</a>
        <a href="/contact" class="hover:underline">Localização</a>
    </div>
    <div class="flex gap-4 invert mt-4 opacity-80">
        <img src="/icons/icon_facebook.png" alt="Facebook" class="w-6 h-6 hover:opacity-70 cursor-pointer"/>
        <img src="/icons/icon_instagram.png" alt="Instagram" class="w-6 h-6 hover:opacity-70 cursor-pointer"/>
        <img src="/icons/icon_youtube.png" alt="YouTube" class="w-6 h-6 hover:opacity-70 cursor-pointer"/>
    </div>
</footer>
